<% skin %>
<% view view_name_1 uses data::data_class_1 %>
<% template vn1_tmpl1() %>
<blah><blah>11</blah></blah>
<%= foobar %>
<% gt "you have no messages" %>
<% include title() %>
<% include parent::foo() %>
<% include bar(x,"test",-1.0) from foo %>
<% include bar(x,"test",-1.0) using baz %>
<% render "sidebar" with sidebar_data %>  
<% render skin_name, "sidebar" with sidebar_data %>
<% xhtml %>
<% end template %>
<% template vn1_tmpl2() %>
<foo><bar>12</bar></foo>
<%= *foo.bar->baz() %>
<% gt "you have {1} unread message" using messages.count() %>
<% url "/blog/summary"  %>
<% url "../summary"  %>
<% url "/blog/post" using post_id %>
<% url "/blog/post" using post_id , slug | ext filter_for_url %>
<% csrf script %>
<% html %>
<% end template %>
<% template vn1_tmpl3() %>
<% if not empty username %>  
  <h1>Hello <% username %></h1>  
<% else %>  
  <h1>Hello Visitor</h1>  
<% end %>  
<% if ( content.n % 2==0 ) %>  
  <% n %> is odd.  
<% elif ( content.n % 3 ==0) %>  
  <% n %> can be divided by 3 without reminder.  
<% end %>  
<% end template %>
<% end view %>
<% end skin %>

<% skin named_skin %>
<% view view_name_2 uses data::data_class_2 extends master_view %>
<% template vn2_tmpl1() %>
blah blah 21
<%= *foo.bar->baz() | filter1 %>
<% gt "click <a href=\"{1}\">here</a> to read {2} unread messages" using messages.link | urlencode, messages.count() %>
<% using foo with some_content as bar %>
  <% include baz() from bar %>
  <% include beep(10) from bar %>
<% end using %>
next
<% include baz() using foo with some_content %>
next2
<% using foo with some_content as _some_variable %>  
   <% include baz() from _some_variable %>  
<% end using %> 
<% form as_table form.fields %>  
<% form as_space form.submit_buttons %>
<% form input some_button %>  
<% form begin some_button %>
<% form block some_button %> 
<% csrf %>
<% end template %>
<% template vn2_tmpl2() %>
blah blah 22
<%= foobar | filter1(42) | filter2(varname, 42, "foobar") %>
<!-- filter without arguments; filter with string argument -->
<% gt "topic: {1}, {2}" using topic.name | uppercase, topic.created | strftime("%d/%m/%Y") %>
<% ngt "You have one apple", "You have {1} apples, click <a href=\"{2}\">here</a> to eat them", apple_count using apple_count, apple_link | urlencode %>
<% pgt "You have {1:apple}, click <a href=\"{2}\">here</a> to eat them" using apple_count, apple_link | urlencode %>
<% end template %>
<% end view %>
<% end skin %>
