<% skin myskin %>  
	<% view master uses data::master %>
		<% template printer<T>(T & x) %><!-- cut magic begin -->
			<%= x.name %>
			<% include generic_printer(x.first, x.second) %>
		<% end %> 
		<% template generic_printer<T1, T2>(T1 a, T2 b) %>
			<% format "first = {1}, bar = {2}" using a, b %>
		<!-- cut magic end --><% end %>
 
		<% template render() %> 
			<% include printer(foo) %>
		<% end template %>
	<% end view %> 
<% end %>  
