<% c++ #include "data/blog/post.h" %>
<% skin %>
<% view post uses data::blog::post extends master %>
<% template comment_preview() %>
<dt id="preview" ><% gt "Preview Comment" %></dt>
<dd><%= preview_content | ext markdown2html | ext xss %></dd>
<% end %>
<% template master_content() %>
<h1><a href="<% url "/blog/post" using id %>"><%= title %></a></h1>
<div class="published">
	<% gt "{1,date=s}, by {2} " using  published , author %>; 
	<% foreach cat in categories %>
		<% gt "Posted in:" %> 
		<% separator %>, <% item %><a href="<% url "/blog/summary/category" using cat.id %>"><%= cat.name %></a><% end %>;
	<% end %><a href="#comments_pos"><% ngt "one comment","{1} comments", comment_count using comment_count %></a>
	<script type="text/javascript">
	<!--
		write_if_admin('| <a href="<% url "/admin/post" using id %>"><% gt "edit" %></a>');
	-->
	</script>	
</div>
<%= abstract | ext latex | ext markdown2html %>
<% if not empty content %>
	<span id="more"></span>
	<%= content | ext latex | ext  markdown2html %>
<% end %>
<div id="comments">
<span id="comments_pos"></span>
<% foreach comment in comments %>
	<h2><% gt "Comments" %></h2>
	<dl>
	<% item %>
		<dt id="comment_<%= comment.id %>" >
			<%if not empty comment.url %><a href="<%= comment.url %>"><%= comment.username %></a><% else %><%= comment.username %><% end %>,
 			<% gt "at {1,datetime=s}" using comment.date %>
			<script type="text/javascript">
			<!--
				write_if_admin('| <a href="<% url "/admin/comment" using comment.id %>"><% gt "edit" %></a>');
			-->
			</script>	
		</dt>
		<dd>
		<%= comment.content | ext markdown2html | ext xss %>
		</dd>
	<% end %>
	<% if not empty preview_content %> 
		<% include comment_preview() %>
	<% end %>
	</dl>
<% empty %>
	<% if not empty preview_content %> 
	<dl>
		<% include comment_preview() %>
	</dl>
	<% end %>
<% end %>
	<h2><% gt "Add Comment:" %></h2>
	<p id="last_message"></p>
	<script type="text/javascript">
	<!--
        	function test_form() 
                {
			// set correct CSRF token
			var token = get_any_cookie('<% csrf cookie %>');
			document.getElementById('csrf_token').value = token;
			var author = document.getElementById('author').value;
			var email = document.getElementById('email').value;
                        var url=document.getElementById('url').value;
                        var message=document.getElementById('msg').value;
			if(is_admin()) 
			{
				if(message.length  == 0)
				{
					alert('<% gt "Message content are mandatory!" %>');
					return false; 
				}
				else {
					return true;
				}
			}
			else {
				if(author.length == 0
				   || email.length == 0
				   || message.length  == 0)
				{
					alert('<% gt "Name, E-Mail, Message content are mandatory!" %>');
					return false; 
				}
				else {
					set_cookie('visitor_name',author,365);
					set_cookie('visitor_email',email,365);
					set_cookie('visitor_url',url,365);
					return true;
				}
			}
                }
		function is_authorised_visitor()
		{
			return get_cookie('visitor').length > 0;
		}
		function get_captcha()
		{
			if(is_authorised_visitor())
				return '';
			var url = '<% url "/captcha" %>/' + Math.random().toString();
			var r = '<img alt="captcha" width="120" height="60" src="' 
				+ url 
				+ '" /><br> <% gt "Captcha" %>: <input type="text" name="captcha" /> ' ;
			<% if not response.captcha.valid() %>
			r += '<% gt "Try Again" %>' ;
			<% end %>
			return r;
		}
		function get_captcha_if_postback()
		{
			if('<%= app().request().request_method() %>' == 'POST' && get_cookie('user').length == 0) {
				return get_captcha();
			}
			else {
				return '';
			}
		}
        	function reload_captcha() 
		{
			document.getElementById('captcha').innerHTML = get_captcha();
			return false;
		}
        	function update_captcha() 
		{
			var pc = document.getElementById('captcha');
			if(pc.innerHTML == '' && get_cookie('user').length == 0 ) {
				pc.innerHTML=get_captcha();
			}
			return true;
		}
		function write_if_admin_or_authorised_visitor(value)
		{
			if(is_admin() || is_authorised_visitor()) {
				document.write(value);
			}
		}
	-->
	</script>
		<form method="post" action="<% url "/blog/post/postback" using id %>#preview" onsubmit="return test_form();" >
		<input id="csrf_token" type="hidden" name="_csrf" value="" />
		<script type="text/javascript">
		<!--
			write_if_admin('<div style="display:none">');
		-->
		</script>
			<table>
				<% form as_table response.inputs %>
			</table>
		<script type="text/javascript">
		<!--
			write_if_admin('</div>');
		-->
		</script>
		<p>
			<% gt "You can write your messages using <a href=\"http://en.wikipedia.org/wiki/Markdown\">Markdown</a> syntax." %> 
		</p>
		<p><% form begin response.content %> cols="80" rows="10" onfocus='return update_captcha()' <% form end response.content %></p>
		<script type="text/javascript">
		<!-- 
			document.write('<p id="captcha">' + get_captcha_if_postback() + '</p>'); 
		-->
		</script>
		<p>
			<% form as_space response.buttons %>
			<script type="text/javascript">
			<!--
				write_if_admin_or_authorised_visitor('<span style="display:none">');
			-->
			</script>
			<input type="submit" onclick='return reload_captcha()' value="<% gt "Reload Captcha" %>" />
			<script type="text/javascript">
			<!--
				write_if_admin_or_authorised_visitor('</span>');
			-->
			</script>
		</p>
		</form>
	<div id="removecomment">
		<p>
		<% gt "You must enable JavaScript in order to post comments." %>
		</p>
	</div>
	<script type="text/javascript">
	<!--
                function setup_form()
                {
			document.getElementById('removecomment').innerHTML= "";
                        if((name=get_cookie('visitor_name'))!="") {
                                document.getElementById('author').value = name;
                                document.getElementById('email').value = get_cookie('visitor_email');
                                document.getElementById('url').value = get_cookie('visitor_url');
                        }
                }
                setup_form();
	-->
	</script>
</div>
<% end template %>
<% end view %>
<% end skin %>
