<% skin myskin %>  
	<% view master uses data::master %>  
		<% template render() %>  
		<% foreach line rowid num from 1 in code %>  
			<% item %><%= num %>:<%=line%><% end %>  
		<% end %>  
		<% end template %>
		<% template show_list(data::list_t const &list) %>  
		<% foreach student in students %>  
			<ul>  
			<% item %>  
				<li><% student.id %>, <% student.name %></li>  
			<% end %>  
			</ul>  
			<% empty %>  
				<h2>No students</h2>  
		<% end %> 
		<% end template %>
		<% template show_numbers(int x,int y, double z) %>
			<% foreach student in students %>  
				<% separator %>, <% item %><% student.name %><% end %>  
			<% end %> 
		<% end template %>
		<% template foo1() %>
			<% foreach line rowid num from 1 in code %>  
				<% item %><%= num %>:<%=line%><% end %>  
			<% end %> 
		<% end template %>
		<% template foo2() %>
			<% foreach student as students_type::iterator in students %><% item %>bzium<% end item %><% end %> 
		<% end template %>
		<% template foo3() %>
			<% foreach a in b %>  
				<ul>  
				<% item %><% a %><% end %>  
				</ul>  
				<% empty %>  
					nothing  
			<% end %>  
		<% end template %>
		<% template foo4() %>
			<% foreach w in form %>  
				<% separator %><br/><% item %>  
				<% if w.has_message() %><% w.message() %>:<% end %>  
				<% form input w %>  
				<% if not w.valid() %>:<% w.error_message() %><% end %>  
				<% end %>  
			<% end %>  
		<% end template %>
		<% template foo5() %>
		<% end template %>
	<% end view %> 
<% end %>  
