<% skin myskin %>  
	<% view master uses data::master %>  
		<% template render() %> 
			<% if foo %>
				bar
			<% elif rtl %>
				baz
			<% end %>
			<% if not empty username %>  
				<h1>Hello <% username %></h1>  
			<% else %>  
				<h1>Hello Visitor</h1>  
			<% end %>  
			<% if ( content.n % 2==0 ) %>  
				<% n %> is odd.  
			<% elif ( content.n % 3 ==0) %>  
				<% n %> can be divided by 3 without reminder.  
			<% end %>  
		<% end template %>
	<% end view %> 
<% end %>  
