<% skin myskin %> 
	<% view master uses data::master %>  
		<% template menu() %>  
			<li><a href="#1">Main</a></li>  
			<li><a href="#2">Products</a></li>  
		<% end template %>  
		<% template render() %>  
			<ul><% include menu() %></ul>  
		<% end template %>  
	<% end view %>  
	<% view sales uses data::sales extends master %>  
		<% template menu() %>  
			<% include master::menu() %>  
			<li><a href="#3">Orders</a></li>  
		<% end %>  
		<% template test() %>
			<% include title() %>  
			<% include parent::foo() %>  
			<% using foo_t as foo %>
				<% include bar(x,"test",-1.1) from foo %>  	
			<% end %>
			<% using baz_t as baz %>
				<% include bar(x,"test",-1.2) using baz %>  
			<% end %>
		<% end %>
	<% end %>   
<% end %>  
