<% skin myskin %>  
	<% view master uses data::master %>  
		<% template render() %>  
			foobar 
		<% end template %>
		<% template show_list(data::list_t const &list) %>  
			<%= list %>
			bar foo
			<% a %> + <% b %> = <% c++ out()<<content.a+content.b; %>  
		<% end template %>
		<% template show_numbers(int x,int y, double z) %> 
			<%= x | format("%02d") %>
			baz baz
			<% c++ out() << "Hello world!\n"; %>
		<% end template %>
	<% end view %> 
	<% view page uses data::page extends master %>		
	<% end view %>  
<% end %>  
